.loader__container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  inset: 0;
  z-index: 1;
  background-color: #fff;
  @include flexMid;
  animation: animFlash 4s;
  animation-fill-mode: forwards;
}
.loader {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 8px solid transparent;
  border-top-color: #9356dc;
  animation: animLoader 4s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}
.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #ff79da;
  animation: animLoader 6s linear infinite;
}
.loader::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #99e2d0;
  animation: animLoader 2s linear infinite;
}
